#submit
{
    background-color: black;
    color: white;
}
img
{
    width: 250px;
    height: 150px;
}
#tableOutput
{
    border: 2px solid black;
}
.tdBorder,.trBorder
{
    border: 1px solid black;
}